*.dat
*.npy
__pycache__/
*.pyc
node_modules/
.next/
*.wav
.env*
temp_converted.wav
synthetic_audio.wav
.ipynb_checkpoints/
training_cache/
training_history.csv
*Zone.Identifier
*zone.identifier
*:Zone.Identifier
*Zone.Identifier
